body {
	font-family: 'Open Sans', sans-serif;
}

header {
    background: #0575e6;
    background: -webkit-linear-gradient(to top, #0575e6, #021b79);
    background: linear-gradient(to top, #e67705, #343a40);
    color: white;
}

footer {
	background: #0575e6; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to bottom, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to bottom, #0575e6, #021b79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	color: white;	
}

#selfpicture {
	height: 220px;
	width: 220px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 24px;
}

#projectpic {
	height: auto;
	width: 200px;
	border-radius: 1.25%;
}