{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Igor Lestin | About me</title>

	</head>
	
	<body>
		
		{% block content %}
		<header>
		<div class="container p-5 text-lg-center">
			<img src="{% static 'selfpic.jpg' %}" id="selfpicture">
			<h2>My name is <span class="font-weight-bold">Igor Lestin Sianipar</span></h2>
			<h4>Hello People !</h4>
		</div>
		</header>

		<div class="container p-5">
			<div class="row">
				<div class="col">
					<h3><span class="font-weight-bold">About Me</span></h3>
					<p>I'm 19 years old</p>
					<p>i like to watch football </p>
					<p>I'm a tall guy with curvy hair. i have a good taste of humor.</p>
					<p>for me, humor can easily make us know each other </p>
				</div>
				<div class="col">
					<h3><span class="font-weight-bold">Education</span></h3>
					<p><strong>2017-present:</strong> Faculty of Computer Science, University of Indonesia</p>
					<p><strong></strong> </p>

				</div>
				<div class="col">
					<h3><span class="font-weight-bold">Experience</span></h3>
					<p><strong>Person in Charge</strong><br>Creative Division, DEKAN CUP 2018</p>
					<p><strong>Staff Member</strong><br>Sport Departement, BEM Fasilkom UI 2018</p>
					<p><strong>Staff Member</strong><br>Creative Division, Retreat PO Fasilkom UI 2018</p>
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>Name</th>
					<th>Location</th>
					<th>Date</th>
					<th>Time</th>
					<th>Category</th>
				</thead>
				<tbody>
					{% for e in events %}
					<tr>
						<td>{{e.name}}</td>
						<td>{{e.location}}</td>
						<td>{{e.date|date:"l, j F Y"}}</td>
						<td>{{e.time|date:"H:i"}}</td>
						<td>{{e.category}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		</div>

		<a href="{% url 'delete_all_events'%}">
			<button class="btn" type="submit" style=""> Delete Schedules</button>

		{% endblock %}
	</body>

</html>