{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Igor Lestin | Contact me</title>
	</head>
	
	<body>
		{% block content %}
		<div class="container p-5 text-lg-center">
			<h2><strong>Keep in touch with me</strong></h2>
		</div>

		<div class="container p-5">
			<div class="row">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/google.svg"></div>
				</div>
				<div class="col">
					ilestin.il@gmailn@gmail.com
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/whatsapp.svg"></div>
				</div>
				<div class="col">
					+62 8121 3245 023
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/line.svg"></div>
				</div>
				<div class="col">
					@ilestin
				</div>
			</div>
		</div>

		{% endblock %}
	</body>

</html>