{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		
	</head>
	
	<body>
		{% block content %}
		<div class="container p-5 text-lg-center">
			<h2><strong> Here some of my project</strong></h2>
			<h4>Doing some stuff that improve my skill, yup i like design</h4>
		</div>

		<div class="container p-5">
			<div class="row my-3">
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'a01.png' %}" id="projectpic"></div>
				</div>
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'flyer Stufell - 26 agustus.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'Christian cross 4.jpg' %}" id="projectpic"></div>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'fasilkom gath.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'fly stuf fix rastersize.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'tosca.jpg' %}" id="projectpic"></div>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'images.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'banner-ps.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'images (1).jpg' %}" id="projectpic"></div>
				</div>
			</div>

		</div>

		{% endblock %}
	</body>

</html>